.input-gr {
    position: relative;
}


.btn-add {
    margin-left: auto
}

.filter {
    box-shadow: inset 0px 0px 4px var(--purple-dark);
    color: var(--purple-dark);
    background: var(--purple-light);
    border: none;
    padding: 6px 8px;

}

.main {
    min-height: 70vh;
    border-radius: 16px;
    box-shadow: 0px 6px 8px var(--dark-opacity);
    padding: 12px 12px;
    display: flex;
    flex-direction: column;
    flex: 1;
}




.lock-account {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.lock-account input {
    width: 20px;
}