.tour-heading {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--white);
}

.tour-name {
  font-size: 4rem;
  text-transform: capitalize;
  letter-spacing: .3rem;
  font-weight: bold;
}

.tour-destination {
  font-size: larger;
  font-weight: bold;
}

.main-details {
  position: absolute;
  width: 70vw;
  min-width: 650px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 24px;
  border: 1px solid var(--gold);
  background-color: var(--dark-opacity);
  border-radius: 32px;
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
  color: var(--white);
  max-height: 120px;
}

.main-detail {
  width: 100%;
  padding: 0 12px;
}

.main-detail~.main-detail {
  padding-left: 12px;
  border-left: 1px solid var(--white-opacity);
}

.main-detail-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: left;
  min-width: 80px;
}

.main-detail-heading {
  margin-bottom: 8px;
}

.main-detail-value {
  flex: 1;
  margin-left: 8px;
}

.main-detail-wrapper img {
  width: 1.5rem;
}

.main-detail-value {
  display: inline;
}


.sub-details {
  color: var(--black);
  display: flex;
  margin: 24px auto;
  width: 1200px;
  max-width: 100%;
  padding: 0 24px;
}

.left-area {
  width: 60%;
  min-width: 300px;
}

.left-area h1 {
  color: var(--gold);
  border-bottom: 1px solid var(--gold);
  margin-bottom: 12px;
}

.description {
  text-align: justify;
}

.images {
  display: flex;
  height: 120px;
}

.images img {
  width: 15%;
  height: 100px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  margin-right: 16px;
}

.images img:hover {
  border: 2px solid var(--dark);
}

.big-display {
  width: 100%;
  height: 480px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 16px;
  border-radius: 16px;
}

.right-area {
  position: relative;
  margin-left: 32px;
}

.right-area h1 {
  color: var(--gold);
  border-bottom: 1px solid var(--gold);
}

.booking-frm label {
  display: block;
  margin-top: 16px;
}

.booking-frm {
  position: sticky;
  top: 32px;
}

.booking-frm input,
.booking-frm textarea {
  color: var(--white);
  background-color: var(--dark);
  padding: 10px 12px;
  border: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  border-radius: 8px;
}

.booking-frm textarea {
  width: 100%;
}

@media only screen and (max-width:850px) {
  .main-detail-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .main-detail-value {
    margin: 6px 0;
  }

}