USE [BANDONGHO_TTCS]
GO
CREATE PROC SP_TKDT_HANG
@tungay date, @denngay date
AS
SELECT h.MAHANG, h.TENHANG, SUM(c.DONGIA*c.SOLUONG) DOANHTHU
FROM HANGDONGHO h, PHIEUDAT p, CT_PD c, DONGHO d
WHERE (p.NGAYDAT BETWEEN @tungay AND @denngay)
AND h.MAHANG=d.MAHANG AND c.MADONGHO=d.MADONGHO AND c.MAPHIEUDAT=p.MAPHIEUDAT
AND p.TRANGTHAI = N'Hoàn tất'
GROUP BY h.MAHANG, h.TENHANG
ORDER BY DOANHTHU DESC